{% extends 'index/index.html.twig' %}

{% block title %}Modifier Reclamation{% endblock %}

{% block body %}
    <h1>Modifier Reclamation</h1>
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

    {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reclamation_index') }}">
        <p class="footer_contact-form-submit topmargin_30">
            <button type="submit" id="footer_contact_form_submit" name="contact_submit" class="theme_button color1 wide_button">Retour à la liste </button>
        </p>
    </a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
