{% extends 'index/index.html.twig' %}

{% block title %}Faire Une Reclamation{% endblock %}

{% block body %}
<div class="col-md-4 col-sm-6 text-center" ></div>
    <h1>Ajouter Une Reclamation</h1>
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}


    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('reclamation_index') }}">
        </div>
{% endblock %}


