{% extends 'base.html.twig' %}

{% block title 'voir tout nos biens' %}

{% block body %}
    <div class="container mt-4">
        <h1>voir tous nos biens</h1>

        <div class = "row">
            {%  for annonce in annonces %}

                {% if annonce.filename %}
                    <div class="card col-12  col-md-3 " style="width: 100%;margin-right: 20px">
                        <img class="card-img-top" src = "images/annonces/{{ annonce.filename }}" alt="une annonce">
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.title }}</h5>
                            <p class="card-text">{{ annonce.contenu }}</p>

                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>

    </div>


{% endblock %}